@use 'variables';

// LINK STYLES
a {
   color: variables.$color-primary;
   text-decoration: none;
   transition: color 0.3s ease;

   &:hover {
      color: variables.$color-primary-hover;
      text-decoration: underline;
   }

   &:visited {
      color: variables.$color-primary;
   }

   &:active {
      color: variables.$color-primary-hover;
   }
}