@use 'variables';

// LINK STYLES
a {
   color: variables.$color-primary;
   text-decoration: none;
   transition: color 0.3s ease;

   @media (prefers-reduced-motion: reduce) {
      transition: none !important;
   }

   &:hover {
      color: variables.$color-primary-hover;
      text-decoration: underline;
   }

   &:focus {
      border-radius: variables.$border-radius;
      outline: 2px solid variables.$color-focus;
      outline-offset: 2px;
      text-decoration: underline;
   }
}