@use '../variables';

// TEXT INPUTS
.form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.3rem;
   max-width: 500px;
   width: 100%;

   @media (max-width: 600px) {
      gap: 1.15rem;
   }

   .input-label-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
   }

   .input-label {
      font-size: 1.125rem;
      color: #fff;
   }

   input[type="text"],
   input[type="number"],
   input[type="email"] {
      cursor: text !important;
      background-color: variables.$bg-secondary;
      color: #fff;
      border: none;
      padding: 1rem;
      font-size: 1.5rem;
      width: 100%;
      border-radius: variables.$border-radius;
      text-align: center;

      &[type="number"] {
         text-align: left;
      }

      &.short-input {
         text-indent: 10px;
         max-width: 300px;
      }

      &.input-secondary {
         background-color: variables.$bg-primary;
      }

      &:focus {
         outline: 2px solid variables.$color-focus;
         outline-offset: 2px;
      }
   }
}

// CHECKBOXES
div.checkbox-group {
   display: flex;
   flex-direction: column;
   gap: 1.875rem;
   max-width: 300px;
}

div.custom-checkbox-container {  
   position: relative;
   display: flex;
   align-items: center;

   label {
      position: relative;
      padding-left: 2.5rem;
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 1.125rem;
      display: flex;
      align-items: center;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         width: 1.563rem;
         height: 1.563rem;
         border: 2px solid variables.$bg-secondary-hover;
         border-radius: 4px;
         background-color: variables.$bg-secondary-hover;
      }
   }

   input[type="checkbox"] {
      opacity: 0;
      height: 1.563rem;
      width: 1.563rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &:checked+label::before {
         background-color: variables.$color-primary;
         border: 2px solid variables.$color-primary;
      }

      &:checked+label::after {
         content: "";
         position: absolute;
         left: 0.563rem;
         top: 50%;
         transform: translateY(-65%) rotate(45deg);
         width: 0.5rem;
         height: 0.875rem;
         border: solid #fff;
         border-width: 0 2px 2px 0;
      }

      &:focus+label::before {
         outline: 2px solid variables.$color-focus;
         outline-offset: 2px;
      }
   }
}

// INPUT ERROR
.input-error {
   color: variables.$color-error;
   font-size: 1.2rem;
   margin: 0 auto -1rem auto;
   text-align: center;
   display: block;

   @media (max-width: 600px) {
      margin: 0 auto -0.85rem auto;
   }
}