@use '../variables';

.divider-container {
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   gap: 0.75rem;

   &::before,
   &::after {
      content: "";
      flex: 1 1 auto;
      border-top: 2px solid variables.$secondary-body-color-hover;
   }
}

.divider-text {
   font-size: 1.5rem;
   color: variables.$primary-color;
   background-color: variables.$primary-body-color;
   padding: 0 0.5rem;
   font-weight: bold;

   @media screen and (max-width: 600px) {
      font-size: 1.25rem;
   }
}