:root {
   --primary-body-color: #121212;
   --secondary-body-color: #1f1f1f;
   --secondary-body-color-hover: #333333;
   --primary-color: #1DB954;
   --primary-color-hover: #137d38;
   --shadow-color: 0 0px 10px rgba(0, 0, 0, 0.4);
   --border-radius: 15px;
}

/* FONT */
@font-face {
   font-family: 'Roboto';
   src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* UNIVERSAL */
.hide {
   display: none !important;
}

.stop-scrolling {
   height: 100%;
   overflow: hidden;
}

.special-text {
   color: var(--primary-color);
   font-weight: bold;
}

/* BODY */
* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
}

html {
   font-family: 'Roboto', sans-serif;
   background-color: var(--primary-body-color);
   color: #fff;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 100%;
   width: 100%;
   overflow: auto;
   padding: 10px;
}

main {
   width: 100%;
}

p {
   font-size: 1.2rem;
}

@media (max-width: 600px) {
   p {
      font-size: 1rem;
   }
}

/* LOGO */
h1.logo {
   font-size: 4.5rem;
   color: var(--primary-color);
   margin: 0;
   text-align: center;
}

@media (max-width: 600px) {
   h1.logo {
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 3.5rem;
      line-height: 55px;
   }
}

/* DESCRIPTION */
h2.description {
   font-size: 1.5rem;
   margin: 10px 0 20px 0;
   text-align: center;
}

@media (max-width: 600px) {
   h2.description {
      font-size: 1.3rem;
      margin-bottom: 15px;
   }
}

/* BUTTONS */
div.btns {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
   margin: 20px;
}

@media (max-width: 600px) {
   div.btns {
      flex-direction: column;
      margin: 15px;
   }
}

a.btn,
button.btn {
   display: inline-block;
   padding: 10px 20px;
   font-size: 1.5rem;
   color: #fff;
   background-color: var(--secondary-body-color);
   text-decoration: none;
   border-radius: var(--border-radius);
   transition: background-color ease 0.2s;
   cursor: pointer;
   border: none;
   font-weight: bold;
   text-align: center;
}

@media (max-width: 600px) {

   a.btn,
   button.btn {
      font-size: 1.3rem;
      padding: 8px 16px;
   }
}

a.btn.btn-primary,
button.btn.btn-primary {
   background-color: var(--primary-color);
   color: #000;
}

a.btn.btn-primary:hover,
button.btn.btn-primary:hover {
   background-color: var(--primary-color-hover);
}

a:hover.btn,
button:hover.btn {
   background-color: var(--secondary-body-color-hover);
}

/* INPUT */
input[type="text"] {
   background-color: var(--secondary-body-color-hover);
   color: #fff;
   border: none;
   width: 100%;
   max-width: 500px;
   padding: 1rem;
   font-size: 1.5rem;
   border-radius: var(--border-radius);
   margin: 0;
   text-align: center;
}

input[type="number"] {
   background-color: var(--secondary-body-color-hover);
   color: #fff;
   border: none;
   width: 4rem;
   padding: 0.5rem;
   font-size: 1.5rem;
   border-radius: var(--border-radius);
}

span.input-error {
   color: red;
   font-size: 1.2rem;
   margin: 0 auto 0.5rem auto;
   text-align: center;
   display: block;
}

/* FOCUS */
input:focus,
button:focus,
a:focus,
select:focus,
.custom-checkbox-container input:focus~.custom-checkbox,
input[type="text"]:focus,
div.collapsible-item:focus,
svg.search-results-add-song-icon:focus {
   outline: 2px solid #2196F3;
   outline-offset: 2px;
}

/* LOADING ICON */
div.loading-icon-container {
   z-index: 2;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
}

div.loading-icon-container>svg {
   border-radius: 100%;
   width: 50px;
   height: 50px;
   -webkit-animation: loadingAnimation 1.5s linear infinite;
   animation: loadingAnimation 1.5s linear infinite;
   fill: var(--primary-color);
}

@-webkit-keyframes loadingAnimation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes loadingAnimation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* FORMS */
form {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
}

form label.number-input,
form label.number-input-secondary {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
   max-width: 300px;
   height: -moz-fit-content;
   height: -webkit-fit-content;
   height: fit-content;
}

form label.number-input span,
form label.number-input-secondary span {
   padding: 0 10px;
   font-size: 15px;
   color: #8b8e98;
   font-weight: 600;
   width: -moz-fit-content;
   width: -webkit-fit-content;
   width: fit-content;
   top: 14px;
   position: relative;
   left: 15px;
   background: var(--primary-body-color);
}

form label.number-input-secondary span {
   background: var(--secondary-body-color);
}

form label.number-input input,
form label.number-input-secondary input {
   width: auto;
   height: 50px;
   text-indent: 15px;
   border-radius: var(--border-radius);
   outline: none;
   background-color: transparent;
   border: 2px solid var(--secondary-body-color-hover);
   color: #fff;
}

form label.number-input-secondary input {
   border: 2px solid var(--secondary-body-color-hover);
}

form label.number-input input:focus,
form label.number-input-secondary input:focus,
.custom-checkbox-container input:focus~label::before,
div.custom-checkbox-container label:hover::before {
   outline: 2px solid #2196F3;
   outline-offset: 2px;
}

/* CUSTOM CHECKBOX */
div.checkbox-group {
   display: flex;
   flex-direction: column;
   gap: 30px;
   max-width: 300px;
   margin: 30px auto 10px auto;
}

@media (max-width: 600px) {
   div.checkbox-group {
      margin-top: 25px;
   }
}

div.custom-checkbox-container {
   position: relative;
   display: flex;
   align-items: center;
}

div.custom-checkbox-container label {
   position: relative;
   padding-left: 40px;
   cursor: pointer;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-size: 18px;
   display: flex;
   align-items: center;
}

div.custom-checkbox-container label::before {
   content: "";
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 25px;
   height: 25px;
   border: 2px solid var(--secondary-body-color-hover);
   border-radius: 4px;
   background-color: var(--secondary-body-color-hover);
}

div.custom-checkbox-container input[type="checkbox"] {
   opacity: 0;
   height: 25px;
   width: 25px;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}

div.custom-checkbox-container input[type="checkbox"]:checked+label::before {
   background-color: var(--primary-color);
   border: 2px solid var(--primary-color);
}

div.custom-checkbox-container input[type="checkbox"]:checked+label::after {
   content: "";
   position: absolute;
   left: 9px;
   top: 50%;
   transform: translateY(-65%) rotate(45deg);
   width: 8px;
   height: 14px;
   border: solid #fff;
   border-width: 0 2px 2px 0;
}

/* COLLAPSIBLE */
div.collapsible-container {
   width: 100%;
}

div.collapsible-item {
   cursor: pointer;
   margin: 20px auto;
   background-color: var(--secondary-body-color);
   border-radius: var(--border-radius);
   padding: 20px;
   max-width: 500px;
   width: 100%;
}

div.collapsible-content div.btns {
   margin-bottom: 5px;
}

@media (max-width: 600px) {
   div.collapsible-item {
      margin: 15px auto;
      padding: 15px;
   }
}

div.collapsible-container div.collapsible-item:nth-child(1) {
   margin-top: 0;
}

div.collapsible-container div.collapsible-item:nth-last-child(1) {
   margin-bottom: 0;
}

div.collapsible-item span.collapsible-title {
   font-size: 1.5rem;
   font-weight: bold;
   color: #fff;
}

@media (max-width: 600px) {
   div.collapsible-item span.collapsible-title {
      font-size: 1.3rem;
   }
}

div.collapsible-item span.collapsible-icon {
   border: solid;
   border-color: var(--primary-color);
   border-width: 0 0.25rem 0.25rem 0;
   padding: 0.25rem;
   margin: auto 6px 0.22rem auto;
   transform: rotate(-45deg);
   transition: 0.5s ease-in-out;
   display: inline-block;
}

div.collapsible-item.open span.collapsible-icon {
   transform: rotate(45deg);
}

div.collapsible-item div.collapsible-content {
   height: 0;
   overflow: hidden;
   display: none;
}

@media (max-width: 600px) {
   .collapsible-content ol {
      padding-left: 25px;
   }
}

div.collapsible-item div.collapsible-content p {
   color: #fff;
   margin-bottom: 0;
}

@-webkit-keyframes exapnd-collapsible-item {
   0% {
      height: 0;
   }

   99% {
      height: var(--content-height);
   }

   100% {
      height: auto;
   }
}

@keyframes exapnd-collapsible-item {
   0% {
      height: 0;
   }

   99% {
      height: var(--content-height);
   }

   100% {
      height: auto;
   }
}

@-webkit-keyframes collapse-collapsible-item {
   0% {
      height: auto;
   }

   1% {
      height: var(--content-height);
   }

   100% {
      height: 0;
   }
}

@keyframes collapse-collapsible-item {
   0% {
      height: auto;
   }

   1% {
      height: var(--content-height);
   }

   100% {
      height: 0;
   }
}

/* PARTY JOIN INFO */
div.party-code-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--primary-body-color);
   padding: 5px 15px;
   margin-top: 10px;
   border-radius: var(--border-radius);
}

div.party-code-container span#party-code {
   font-weight: bold;
   color: white;
   margin-right: 10px;
   font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
   div.party-code-container span#party-code {
      font-size: 1rem;
   }

}

div#party-qrcode {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   padding: 10px;
}

/* list */
ol {
   padding-left: 1rem;
   margin: 1rem 0;
   font-family: 'Roboto', sans-serif;
}

ol li {
   margin-bottom: 0.5rem;
   line-height: 1.5;
}

ol li::marker {
   color: var(--primary-color);
   font-weight: bold;
}

/* CLICK TO COPY */
.copy-toast {
   position: fixed;
   top: -50px;
   left: 50%;
   transform: translateX(-50%);
   background-color: var(--primary-color);
   color: black;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 5px;
   box-shadow: 0 0px 10px var(--shadow-color);
   visibility: hidden;
   -webkit-animation: slideInOut 2.5s forwards;
   animation: slideInOut 2.5s forwards;
   z-index: 1;
}

@-webkit-keyframes slideInOut {
   0% {
      top: -50px;
      visibility: visible;
   }

   10% {
      top: 20px;
   }

   90% {
      top: 20px;
   }

   100% {
      top: -50px;
      visibility: hidden;
   }
}

@keyframes slideInOut {
   0% {
      top: -50px;
      visibility: visible;
   }

   10% {
      top: 20px;
   }

   90% {
      top: 20px;
   }

   100% {
      top: -50px;
      visibility: hidden;
   }
}

/* EXPIRES AT */
.expires-at-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 15px;
   border-radius: var(--border-radius);
   background-color: var(--secondary-body-color);
   width: -webkit-max-content;
   width: -moz-max-content;
   width: max-content;
   margin: 20px auto;
}

@media screen and (max-width: 600px) {
   .expires-at-container {
      margin: 15px auto;
   }
}

.expires-at-container h2 {
   margin: 0;
   padding-right: 15px;
   font-size: 1.2rem;
   color: white;
   text-align: center;
}

.expires-at-container>div {
   border-left: var(--primary-color) 3px solid;
   padding-left: 15px;
}

#expires-at-time,
#expires-at-date {
   font-size: 1.2rem;
   font-weight: bold;
   color: white;
   text-align: center;
}

/* MODAL */
.modal-background {
   display: none;
   position: fixed;
   justify-content: center;
   align-items: center;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   flex-wrap: wrap;
   overflow: scroll;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
}

.modal-body {
   background-color: var(--secondary-body-color);
   margin: 1rem;
   padding: 0 20px;
   width: 100%;
   max-width: 500px;
   height: -webkit-max-content;
   height: -moz-max-content;
   height: max-content;
   color: white;
   border-radius: var(--border-radius);
   position: relative;
   box-shadow: 0 0px 10px var(--shadow-color);
}

@-webkit-keyframes modal-open {
   from {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.0);
   }

   to {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
   }
}

@keyframes modal-open {
   from {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.0);
   }

   to {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
   }
}

@-webkit-keyframes modal-close {
   from {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
   }

   to {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.0);
   }
}

@keyframes modal-close {
   from {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
   }

   to {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.0);
   }
}

/* SEARCH INPUT */
.search-container {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 500px;
   margin: 20px auto;
   position: relative;
}

.search-container input[type="text"] {
   width: 100%;
   padding: 15px 60px 15px 15px;
   border-radius: 15px;
   text-align: left;
   margin: 0;
}

.search-container button {
   position: absolute;
   right: 0px;
   background: none;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.search-container button svg {
   width: 25px;
   height: 25px;
   margin: auto 10px;
   fill: var(--primary-color);
}

.search-container button svg:hover {
   fill: var(--primary-color-hover);
}

.search-container button:focus {
   outline: none;
   box-shadow: 0 0 0 2px #2196F3;
}

/* SEARCH RESULTS */
div#search-results {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 100%;
   max-width: 500px;
   margin: 20px auto;
}

.search-results-item {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px;
   background-color: var(--secondary-body-color);
   border-radius: var(--border-radius);
   width: 100%;
}

.search-results-item:focus,
.search-results-container:focus {
   outline: 2px solid #2196F3;
   outline-offset: 2px;
}

.search-results-title {
   font-size: 1.2rem;
   color: white;
   margin: 0;
   word-break: break-word;
}

.search-results-artists {
   font-size: 1rem;
   color: rgb(167, 167, 167);
   margin: 0;
   word-break: break-word;
}

.search-results-cover {
   width: 70px;
   height: 70px;
   border-radius: 4px;
   margin: 0;
}

@media screen and (max-width: 600px) {
   .search-results-cover {
      width: 50px;
      height: 50px;
      border-radius: 2px;
   }
}

.search-results-add-song-icon {
   width: 40px;
   height: 40px;
   flex-shrink: 0;
   fill: var(--primary-color);
   margin-left: auto;
   cursor: pointer;
   transition: fill ease 0.2s;
   border-radius: 100%;
}

@media screen and (max-width: 600px) {
   .search-results-add-song-icon {
      width: 35px;
      height: 35px;
   }
}

.search-results-add-song-icon:hover {
   fill: var(--primary-color-hover);
}

.search-results-spotify-logo-link {
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.search-results-spotify-logo {
   width: 40px;
   height: 40px;
}

@media screen and (max-width: 600px) {
   .search-results-spotify-logo {
      width: 35px;
      height: 35px;
   }
}

.search-results-explicit-icon {
   width: 16px;
   height: 16px;
   fill: currentColor;
   margin-left: 5px;
}