:root {
   --background-color: #121212;
   --primary-color: #1DB954;
   --primary-color-hover: #137d38;
   --secondary-color: #282828;
   --secondary-color-hover: #1b1b1b;
   --shadow-color: rgba(0, 0, 0, 0.4);
   --shadow-color-hover: rgba(0, 0, 0, 0.6);
}

/* Global */
.hidden {
   display: none !important;
}

.m-15 {
   margin-top: 1.5rem;
}

.m-top-15 {
   margin-top: 1.5rem;
}

/* Body */
html {
   font-family: 'Roboto', sans-serif;
   height: 100%;
}

body {
   height: 100%;
   margin: 0;
   padding: 0;
   background: linear-gradient(347deg, var(--background-color) 40%, var(--primary-color) 100%);
   -webkit-backdrop-filter: blur(100px);
   backdrop-filter: blur(100px);
}

.centred-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.body-container {
   margin: 0.5rem;
   background-color: var(--secondary-color);
   border-radius: 20px;
   padding: 2rem;
   box-shadow: 0 0 10px var(--shadow-color);
}

.header {
   font-size: 3rem;
   color: white;
   padding: 0;
   margin: 0;
   text-align: center;
}

.description {
   font-size: 1.5rem;
   color: white;
   padding: 0;
   margin: 0;
   text-align: center;
}

@media screen and (max-width: 768px) {
   .header {
      font-size: 2.5rem;
   }

   .description {
      font-size: 1.3rem;
   }
}

.button-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin-top: 1.5rem;
}

/* Buttons */
a.btn,
button.btn {
   padding: 1rem;
   border-radius: 20px;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
   box-shadow: 0 0 10px var(--shadow-color);
   background-color: black;
   text-decoration: none;
   border: none;
   width: fit-content;
   -webkit-transition: background-color ease 0.2s, box-shadow ease 0.2s, transform ease 0.2s;
   -o-transition: background-color ease 0.2s, box-shadow ease 0.2s, transform ease 0.2s;
   -moz-transition: background-color ease 0.2s, box-shadow ease 0.2s, transform ease 0.2s;
   transition: background-color ease 0.2s, box-shadow ease 0.2s, transform ease 0.2s;
}

a.btn:hover,
button.btn:hover {
   background-color: var(--secondary-color-hover);
   box-shadow: 0 0 15px var(--shadow-color-hover);
   -o-transform: scale(1.03);
   -ms-transform: scale(1.03);
   -moz-transform: scale(1.03);
   -webkit-transform: scale(1.03);
   transform: scale(1.03);
}

a.btn.btn-primary,
button.btn.btn-primary {
   color: black;
   background-color: var(--primary-color);
}

a.btn.btn-primary:hover,
button.btn.btn-primary:hover {
   background-color: var(--primary-color-hover);
}

/* Join Form */
form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.form-group {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.5rem;
}

label {
   font-size: 1.2rem;
   color: white;
}

.label-visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

input[type="text"],
input[type="password"],
input[type="number"] {
   text-align: center;
   padding: 1rem;
   border-radius: 20px;
   border: none;
   background-color: var(--secondary-color-hover);
   color: white;
   font-size: 1.2rem;
   box-shadow: 0 0 10px var(--shadow-color);
   outline: none;
}

input[type="number"] {
   padding: 0.7rem;
}

input[type="checkbox"] {
   width: 1.5rem;
   height: 1.5rem;
   accent-color: var(--primary-color);
   border-radius: 20px;
}

input:focus,
button:focus,
a:focus,
select:focus {
   outline: 2px solid #2196F3;
   outline-offset: 2px;
}

/* Checkbox */
.custom-checkbox-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding-left: 0;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
   gap: 0.5rem;
}

.custom-checkbox-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.custom-checkbox {
   position: relative;
   height: 30px;
   width: 30px;
   background-color: var(--secondary-color-hover);
   border-radius: 4px;
   transition: background-color 0.2s ease;
}

.custom-checkbox-container input:checked~.custom-checkbox {
   background-color: var(--primary-color);
}

.custom-checkbox:after {
   content: "";
   position: absolute;
   display: none;
}

.custom-checkbox-container input:checked~.custom-checkbox:after {
   display: block;
}

.custom-checkbox-container:hover .custom-checkbox::after {
   display: block;
   border-color: var(--secondary-color);
}

.custom-checkbox-container .custom-checkbox:after {
   left: 8px;
   top: 1px;
   width: 10px;
   height: 18px;
   border: solid black;
   border-width: 0 4px 4px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}

.custom-checkbox-container input:focus+.custom-checkbox {
   outline: 2px solid #2196F3;
   outline-offset: 2px;
}

/* Modal */
.modal-background {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.6);
   -webkit-backdrop-filter: blur(100px);
   backdrop-filter: blur(100px);
}

.modal-body {
   background-color: var(--secondary-color);
   margin: 15% auto;
   padding: 20px;
   max-width: 500px;
   color: white;
   border-radius: 20px;
}

.modal-close {
   color: var(--primary-color);
   float: right;
   font-size: 34px;
   font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
   color: var(--primary-color-hover);
   text-decoration: none;
   cursor: pointer;
}

@keyframes modal-open {
   from {
      opacity: 0;
      -webkit-backdrop-filter: blur(0);
      backdrop-filter: blur(0);
   }

   to {
      opacity: 1;
      -webkit-backdrop-filter: blur(100);
      backdrop-filter: blur(100);
   }
}

@keyframes modal-close {
   from {
      opacity: 1;
      -webkit-backdrop-filter: blur(100);
      backdrop-filter: blur(100);
   }

   to {
      opacity: 0;
      -webkit-backdrop-filter: blur(0);
      backdrop-filter: blur(0);
   }
}